<%- include('partials/header') %>
<% if (description != ""){ %>
    <div class="jumbotron">
        <h2><%=description%></h2>
    </div>
<% } %>
<div class="container">
    <div class="row row-header">
        <div class="col-12">
            <h2>Contact</h2>
        </div>
    </div>
</div>
<%- include('partials/footer') %>